**.ear
**.jar
**.war

**.gradle/
**.settings/
bin/
**/bin/
build/classes
build/sonar/
**/build/classes
**/build/tmp
ejbsrc/
**/ejbsrc/
buildGradle/
**/buildGradle/
datadictionary/*.xsd


**/node_modules
**/.idea
.idea
**/.run
.run
**/.vscode
.vscode
**/.project
.project
**/.settings
.settings
**/.ant/
build/